
<!DOCTYPE html>
<html lang="fr-FR">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<link rel="shortcut icon" href="/favicon.ico" type="favicon.png" />
	<title>Aubin LORIEUX - {{page.title}}</title>
	<meta name="description" content=""/>
	<link type="text/css" rel="stylesheet" media="screen" href="{{site.baseurl}}/assets/css/reset.css" />
	<link type="text/css" rel="stylesheet" media="screen" href="{{site.baseurl}}/assets/css/text.css" />
	<link type="text/css" rel="stylesheet" media="screen" href="{{site.baseurl}}/assets/css/styles.css" />
	<script type="text/javascript" src="{{site.baseurl}}/assets/js/script.js"></script>
</head>
<body>
	<header class="menu-header">
		<div class="menu">
			<ul>
				<li><a href="http://" class="active">Blog</a></li>
				<li class="barre">/</li>
				<li><a href="http://">Work</a></li>
				<li class="barre">/</li>
				<li><a href="http://">About</a></li>
				<li class="barre">/</li>
				<li><a href="http://">Twitter</a></li>
			</ul>
		</div>
		<div class="img"><img src="{{site.baseurl}}/assets/img/logo2.png" alt="" /></div>
	</header>
	<div class="main">
	{{content}}
	</div>
	<footer>
		<div class="footer-content">
			<div class='content content-1'>
				<h3>CATEGORIES</h3>
				<ul>
				{% for cat in site.categories %}
					<li><a href="{{site.baseurl}}/categories/{{cat[0]}}">{{cat[0]}}</a></li>
				{% endfor %}
				</ul>
			</div>
			<div class="content content-2">
				<h3>RECENT</h3>
				<ul>
					{% for post in site.posts limit:3 %}
					<li><a href="{{post.url}}">{{post.title}}</a></li>
					{% endfor %}
				</ul>
			</div>
			<div class="content content-2">
				<h3>LAST TWEET</h3>
				<div id="twitter_update_list">
				</div>
				<ul>
					<li>
						<p id="tweet_container"></p>
					</li>
				</ul>
			</div>
			<div class="clear"></div>
		</div>
	</footer>
	<script>
		
		var twitterCallback2 = function(tweets) {
			var self = this;
			this.tweets = tweets;

			this.__contruct__ = function() {
				self.display()
			}

			this.display = function() {
				document.getElementById('tweet_container').innerHTML = self.tweets[0].text;
			}

			this.__contruct__();
		}
		
	</script>
	<script type="text/javascript" src="https://api.twitter.com/1/statuses/user_timeline/aubinlrx.json?callback=twitterCallback2&count=1"></script>
</body>
</html>